/*  
sm => 640px
md => 768px
lg => 1024px
*/

@media screen and (max-width: 576px) {

    .header-content,
    .main-menu,
    .hero-content {
        flex-direction: column;
    }

    .navbar {
        margin-top: 20px;
    }

    .main-menu .menu-item {
        margin: 0;
    }

    .main-menu .follow-icon {
        margin: 20px 0;
    }

    #footer li {
        padding: 12px 18px;
        margin: 0;
    }

    .footer-social-link {
        padding: 20px 80px;
    }

    .footer-nav ul {
        justify-content: space-between;
    }

    .games-content-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        place-items: center;
    }

    .career-content {
        flex-direction: column;
    }

    .career-left {
        margin-bottom: 40px;
    }

    .quick-action-content {
        flex-direction: column;
    }

    .quick-left {
        padding: 0;
    }

    .qa-title {
        padding-left: 200px;
    }

    .quick-right .small-img {
        left: 0;
        bottom: 0;
    }

    .hero-content {
        flex-direction: column-reverse;
    }

    .games-content-box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .quick-action-section-1 {
        padding: 40px 60px;
    }
}

/*  */
@media screen and (min-width: 576px) and (max-width: 768px) {

    .hero-right {
        padding: 10px;
    }

    .hero-left {
        padding: 50px 0;
    }

    .hero-right img {
        overflow: hidden;
    }

    .games-content-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .cover-img-box img {
        width: 100%;
    }

    .quick-left {
        padding-left: 0;
        padding-right: 60px;
    }

    .career-right .cover-img {
        max-width: 330px;
    }
}